*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: monospace;
}

/* NAVBAR */

.nav-center{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 2rem;
    background:white;
    flex-wrap:wrap;
}

.nav-links{
    display:flex;
    gap:20px;
    list-style:none;
}

a{
    color:black;
    font-size:1.2rem;
    text-decoration:none;
}

h4{
    color:rgb(32,196,196);
    font-size:1.5rem;
}

/* MAIN CONTENT */

.container{
    max-width:600px;
    margin:auto;
    text-align:center;
    padding:5rem 1rem;
}

h2{
    background:black;
    color:white;
    padding:2rem;
    font-size:1.5rem;
    border-radius:10px;
}

.color{
    color:rgb(32,196,196);
}

/* BUTTON */

.btn{
    font-family:monospace;
    padding:12px 20px;
    border:3px solid black;
    background:white;
    font-size:1rem;
    border-radius:10px;
    margin-top:2rem;
    cursor:pointer;
}

/* MOBILE */

@media (max-width:600px){

    .nav-center{
        flex-direction:column;
        gap:10px;
    }

    .nav-links{
        justify-content:center;
    }

    h2{
        font-size:1.2rem;
        padding:1.5rem;
    }

    .btn{
        width:100%;
    }
}
